.hidden.menu {
    display: none;
}

.masthead.segment {
    min-height: 100vh;
    padding: 1em 0em;
}

#fixedNavStart {
    position: relative;
    bottom: 70px;
}
.masthead .logo.item img {
    margin-right: 1em;
}
.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}
.masthead h1.ui.header {
    margin-top: 1.5em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}

#splashLogo {
    font-size: 4em;
    margin-top: 1.2em;
}

.masthead h3 {
    font-size: 1.7em;
    font-weight: normal;
    padding-bottom: 1em;
}

.masthead .button {
    background: #59AD70 !important;
}
.masthead .button:hover {
    background: #5cb573 !important;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}
.ui.vertical.stripe h3 {
    font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
    clear: both;
}
.ui.vertical.stripe p {
    font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.quote.stripe.segment {
    padding: 0em;
}
.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}

.footer.segment {
    padding: 5em 0em;
    background: #F6F6F6 !important;
}

/* CUSTOMIZATIONS */
h1, h2, h4, h5 {
    font-family: 'Vollkorn', serif !important;
}

.masthead {
    padding-top: 0px !important;
}

.masthead .nav-link.active {
    font-weight: normal !important;
}
/* Nav Menu */
#mobileNav {
    display: none;
    z-index: 100 !important;
    position: fixed !important;
    right: 0em !important;
    bottom: 1em !important;
}

.fixed.menu img {
    padding: 0.6em 0 0.6em 1.14286em;
    max-width: 200px;
}

.ui.vertical.segment {
    border-bottom: 0;
}

#nav .menu {
    border: none !important;
}

#nav .menu a {
    color: white !important;
}

.landing-image {
    background-image: url('../img/genetics.png') !important;
    background-size: cover !important;
}

/* Offerings Section */
#offerings h2 {
    font-size: 3.5em !important;
    padding-bottom: 1em;
}

#offerings h3 {
    font-size: 2em !important;
}

#offerings .list .header {
    font-weight: 400 !important;
}

#offerings .selection .item {
    cursor: default;
}

#presentation img {
    border: none !important;
}


#offerings i {
    color: #59AD70 !important;
}

/* Team Section */
#team.segment {
    background: #F6F6F6 !important;
}
#team h2 {
    font-size: 3.5em !important;
    padding-bottom: 1em;
}

#team p {
    font-size: 1em !important;
    line-height: 1.7;
}
#team .about-img {
    border: none !important;
    max-width: 200px !important;
}

/* Contact Section */
#contact {
    padding-bottom: 20em;
}

#contact h2 {
    font-size: 3.5em !important;
}

#contact .email-link {
    margin-top: 1.5em;
}

#contact .email-link:hover {
    color: #59AD70 !important;
}

#contact i {
    font-size: 1em !important;
}

/* Helper Classes */
.right-aligned {
    text-align: right;
}

.center-aligned {
    text-align: center !important;
}

@media only screen and (max-width: 700px) {
    .ui.fixed.menu {
        display: none !important;
    }
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
        display: none;
    }
    #mobileNav {
        display: block;
    }
    .masthead.segment {
        min-height: 100vh;
    }
    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 3.5em;
    }
    #splashLogo {
        margin-top: 1em
    }

    .masthead h3 {
        margin-top: 1em;
        font-size: 1em;
    }
    .masthead img {
        display: block;
    }
    #team .about-img {
        margin: 0 auto !important;
    }
}
